// colors
$background-light-color: #e5e5e5;
$background-color: #282726;

$primary-color: #468c3d;
$primary-hover-color: #3f642f;
$primary-active-color: #499249;

$font-white-color: #ffffff;
$font-black-color: #000000;
$font-dark-color: #323435;
$font-light-color: #9c9fa6;
$font-primary-color: #468c3d;

$scroolbar-color: #5d5d5e;
$scroolbar-background-color: #2b2b2b;
$scroolbar-hover-color: #5e5e5e;

$danger-color: #fe7c96;
$success-color: #1bcfb4;

// shadows

$primary-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
0 1px 2px rgba(0, 0, 0, 0.24);
$primary-box-shadow-hover: 0 14px 28px rgba(0, 0, 0, 0.25),
0 10px 10px rgba(0, 0, 0, 0.22);
$primary-secound-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
0px 2px 6px rgba(0, 0, 0, 0.23);