@import "./variables";
@import "../../App.scss";

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $primary-color;
    height: 20%;
    cursor: pointer;
    color: $font-light-color;
    font-size: 30px;

    &:hover {
        background-color: $primary-hover-color;
        color: $font-dark-color;
    }

    &:active {
        background-color: $primary-active-color;
    }
}

.disabled-btn {
    pointer-events: none;
}