@import "./variables";
@import "../../App.scss";
.number-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $primary-color;
    height: 20%;
    font-size: 30px;
    color: $font-light-color;
    cursor: pointer;
    &:hover {
        background-color: $primary-hover-color;
        color: $font-dark-color;
    }

    &:active {
        background-color: $primary-active-color;
    }
    
}